name: sentinel-apps

services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/app
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - SUPABASE_URL=http://kong:8000
      - SUPABASE_SERVICE_KEY=${SERVICE_ROLE_KEY}
    networks:
      - sentinel-auth_default

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    networks:
      - sentinel-auth_default

networks:
  sentinel-auth_default:
    external: true
