fastapi==0.109.0
uvicorn[standard]==0.27.0
sqlalchemy==2.0.25
asyncpg==0.29.0
geoalchemy2==0.14.3
geopandas==0.14.2
shapely==2.0.2
httpx
pydantic==2.5.3
pydantic-settings==2.1.0
email-validator
python-multipart==0.0.6
h3==3.7.6
supabase
numpy<2.0.0
