@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-sentinel-900 text-white overflow-hidden;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}